 @font-face {
   font-family: lobster-header;
   src: url(../fonts/Lobster_Two/LobsterTwo-Regular.ttf);
 }

 @font-face {
   font-family: body-font;
   src: url(../fonts/Noto_Sans/NotoSans-VariableFont_wdth\,wght.ttf);
 }

 body {
   background-color: burlywood;
   font-size: 20px;
 }

 .music {
   font-family: 'Times New Roman', Times, serif;
   font-weight: bold;
   color: rgb(54, 5, 54)
 }

 .menu {
   font-style: italic;
   font-family: 'Times New Roman', Times, serif;
   color: black;
 }

 #notice {
   font-family: initial;
   font-weight: bold;
   color: rgb(108, 94, 13);
   text-align: center;
   font-size: 40px;
 }

 h1 {
   font-family: lobster-header;
   text-decoration: underline;
   color: rgb(38, 38, 67);
 }

 body {
   font-family: body-font;
 }

 h2 {
   color: rgb(93, 53, 130);
 }

 a {
   color: rgb(2, 58, 58)
 }

 main {
   width: 700px;
   margin-left: auto;
   margin-right: auto;
   background-color: rgb(118, 230, 245);
   padding: 10 10 10 10; border-radius: 20px;

 }

 #main_content {
   width: 600px;
   margin-left: auto;
   margin-right: auto
 }
    #second_list{width:300px;margin-left:50px; list-style:circle; list-style-position:inside}
    .menu_item{list-style: none; display:inline-block;margin-left:30px;}
