 body{background-color:burlywood;}
        #music{font-family:fantasy; font-weight:bold;}
        h1{color: blue;}
        .menu{font-style: italic;font-family: cursive; color: cyan;}
        #notice{font-family: initial;font-weight: bold;color: gold;}